{%extends 'home.html'%}
{%block tit%}
LOGIN
{%endblock%}

{%block content%}
<center>
  <div class="container">
      <div class="center">
          <h1>Login</h1><br>
          <form method="POST" >
              {%csrf_token%}

          <label>User Name:</label>
        <input type="text" name="Username"/>
        </br>

        <label>Password:</label>&nbsp; &nbsp;
        <input type="password" name="Password"/>
        <br>
        <br>
        <input type="submit" value="Login"  class="btn btn-primary"  role="button">

          </form>
          <div style="color :red ">{{msg}}</div>
      </div>
  </div>
<br>
<br>
<br>
<br>
</center>

{%endblock%}






